body {
    font-family: 'Tai Heritage Pro', sans-serif;
    font-weight: 400;
    background-color: #EFEEEF;
}

.header__title {
    margin: 20px 0;
    text-align: center;
}

.contacts {
    margin: 20px 0;
    text-align: center;
}

.contacts__item {
    list-style-type: none;
}

.contacts__link {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.icon {
    width: 30px;
    height: 30px;
}