body {
    font-family: 'Tai Heritage Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.nav {
  padding: 50px 0;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.intro {
    display: flex;
}

.intro__photo {
    display: inline-block;
    width: calc(100% / 3);
    height: 500px;

}

.nav__link {
    border: 2px solid;
    color: black;
    text-decoration: none;
    font-size: 28px;
    display:inline-block;
    padding: 15px;
}

